.nav-link { color: var(--bs-dark) }

.nav-link:hover,
.nav-link.active { color: var(--bs-dark) !important }

@media(max-width:991.98px){

    .navbar-collapse {
      background: var(--bs-light);
      width: 100%;
      position: fixed;
      z-index: 100000;
      top: 0;
      left: 0  }

    .navbar-nav {
      justify-content: center;
      width: 100%;
      height: 100vh }

    .nav-link {
      text-align: center;
      color: var(--bs-dark);
      padding: .75rem 3rem !important;
      width: 100%;
      font-size: 120% }

    .nav-link:hover,
    .nav-link:active,
    .nav-link:focus { color: var(--bs-dark) !important }

    .nav-item .btn { font-size: 120% }
}
