<div class="navbar-collapse collapse" id="menu">

  <div class="navbar-nav ms-auto align-items-md-center gap-lg-5">

    <a href="javascript:;" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" class="p-5 text-dark fs-4 text-decoration-none position-absolute top-0 end-0 d-lg-none collapsed" aria-expanded="false">&times;</a>
    <a href="https://www.instagram.com/mikael.botassi/" target="_blank" class="nav-link d-flex justify-content-center align-items-center gap-3">
      <i class="fa-brands fa-square-instagram fs-4"></i>
      @mikael.botassi
    </a>
    <a href="https://www.linkedin.com/in/mikael-botassi-de-oliveira-bb5030218/" target="_blank" class="nav-link d-flex justify-content-center align-items-center gap-3">
      <i class="fa-brands fa-linkedin fs-5"></i>
      mikael-botassi-de-oliveira
    </a>
    <a href="https://github.com/mikaelbotassi" target="_blank" class="nav-link d-flex justify-content-center align-items-center gap-3">
      <i class="fa-brands fa-github fs-5"></i>
      mikaelbotassi
    </a>
  </div>

</div>
