<header class="bg-light shadow-lg" style="z-index:4">

  <nav class="navbar navbar-expand-lg p-y-2 flex-nowrap">

    <div class="container-xxl navbar-component border-bottom border-light border-opacity-25">


      <div class="d-flex align-items-center justify-content-between w-100">
        <a class="navbar-brand p-0" href="#">
          <img src="assets/img/ps-logo.png" alt="psn logo">
        </a>

        <button class="navbar-toggler collapsed position-absolute end-0" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Alternar navegação">
          <i class="fa-solid fa-bars text-black fs-4"></i>
        </button>

        <app-menu-bar-itens></app-menu-bar-itens>

      </div>

    </div>

  </nav>

</header>
