

.navbar-brand img{ width:170px !important }

.navbar-toggler .navbar-toggler-icon {
  width: 100%;
  display: block;
  height: .25rem;
  border-radius: 4px;
  background: var(--bs-dark) !important }

@media(max-width:1199.98px){

    header .navbar-brand img {width: 140px; }
}

@media(max-width:991.98px){

  .navbar-toggler {
    border: 0;
    width: 48px;
    height: 48px;
    display: flex;
    gap: .375rem;
    flex-direction: column;
    justify-content: center;
    font-size: 100%;
    padding: .75rem .5rem }

    header [class*="container"] { padding: 0 1rem  !important }
}
